%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Medium Length Professional CV
% LaTeX Template
% Version 2.0 (8/5/13)
%
% This template has been downloaded from:
% http://www.LaTeXTemplates.com
%
% Original author:
% Trey Hunner (http://www.treyhunner.com/)
%
% Important note:
% This template requires the resume.cls file to be in the same directory as the
% .tex file. The resume.cls file provides the resume style used for structuring the
% document.
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% MIT License
%
% Copyright (c) 2024 Phone Thiha Kyaw

% Permission is hereby granted, free of charge, to any person obtaining a copy
% of this software and associated documentation files (the "Software"), to deal
% in the Software without restriction, including without limitation the rights
% to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
% copies of the Software, and to permit persons to whom the Software is
% furnished to do so, subject to the following conditions:
% 
% The above copyright notice and this permission notice shall be included in all
% copies or substantial portions of the Software.
% 
% THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
% IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
% FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
% AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
% LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
% OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
% SOFTWARE.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

{% import 'sections/education.jinja' as education_macros %}
{% import 'sections/bullets.jinja' as bullets_macros %}
{% import 'sections/experience.jinja' as experience_macros %}
{% import 'sections/skills.jinja' as skills_macros %}
{% import 'sections/talks.jinja' as talks_macros %}
{% import 'sections/publications.jinja' as publications_macros %}

\documentclass{resume} % Use the custom resume.cls style

\name{ {{author_name}} }
\address{\url{ {{portfolio_url}} } \orcidicon{ {{ orcid_id }} } \href{ {{ linkedin }} }{\colorfaLinkedinSquare}}
\address{ {{ email }} \\ Curriculum Vitae, \today}

\begin{document}

{% if sections %}
  {% for section in sections %}
    {% if section.type == 'education' %}
        {{ education_macros.render(section.content) }}
    {% elif section.type == 'bullets' %}
        {{ bullets_macros.render(section.title, section.description, section.content) }}
    {% elif section.type == 'experience' %}
        {{ experience_macros.render(section.content) }}
    {% elif section.type == 'skills' %}
        {{ skills_macros.render(section.content) }}
    {% elif section.type == 'talks' %}
        {{ talks_macros.render(section.content) }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if publications %}
  {{ publications_macros.render(publications) }}
{% endif %}

\end{document}