{%-macro _render_section(section_title, entries)-%}
    % ====================== {{ section_title }} Section ====================== %
    \begin{rSection}{ {{-section_title-}} }
    {% for entry in entries %}
    {\textbf{ {{-entry.university-}} }, {{ entry.location }}} \hfill {\em {{ entry.dates }}} 
    \\ {{ entry.degree }} \hfill {{ entry.honors | default("") }}
    {%-if entry.thesis_title-%}
    \\ Thesis Title: \textit{ {{-entry.thesis_title-}} }
    {%-endif-%}
    {%-if entry.supervisor-%}
    \\ Supervisor: {{ entry.supervisor }}
    {%-endif %}
    {%- if edu.bullets -%}
    \begin{list}{\textbullet}{\leftmargin=1em}
        \setlength{\itemsep}{-0.5em} \vspace{-0.5em}
        {%- for bullet in edu.bullets -%}
        \item {{ bullet }}
        {%- endfor -%}
    \end{list}
    {%- endif -%}
    \medskip
    {% endfor %}
    \end{rSection}
{% endmacro %}

{%-macro render(education)-%}
    {% for edu in education %}
        {{ _render_section( edu.name, edu.entity ) }}
    {% endfor %}
{% endmacro %}