{% macro render(skills) %}
    % ====================== Skills Section ====================== %
    \begin{rSection}{Skills}
    \begin{itemize}[leftmargin=0em, label={}, noitemsep]
    {% for entry in skills %}
    \item { {{-entry.name-}} :} \hfill { {{-entry.data-}} }
    {%-endfor %}
    \end{itemize}
    \end{rSection}
{% endmacro %}